OPENCLAW_CMD=openclaw
OPENCLAW_AGENT_ID=main
OPENCLAW_USE_LOCAL=true
WECHAT_TRIGGER_PREFIX=openclaw:

WECHATY_NAME=openclaw-wechat-bridge
WECHATY_PUPPET=wechaty-puppet-service
WECHATY_PUPPET_SERVICE_TOKEN=
